canvas {
	position: absolute;
	z-index: 1;
}


#trafficContainer {

	position: absolute;

}

#canvasContainer {

	position: absolute;
	background-color: #F0F0F0;

}

.shadow {
	box-shadow: 0 0 10px black;
	display: inline-block;
	background-color: #2b2b2b;
	position: static;
	width: 1000px;
}

.el ul {

	list-style: none;

}

.el ul li {

	font-style: italic;
	display: inline;
	margin-right: 50px;

}