canvas {
	position: absolute;
	z-index: 1;
}


#trafficContainer {

	position: absolute;

}

#canvasContainer {

	position: absolute;
	background-color: #F0F0F0;

}

.shadow {
	box-shadow: 0 0 10px black;
	color: black;
	display: inline;
}

.el ul {

	list-style: none;

}

.el ul li {

	/*font-style: italic;*/
	display: inline;
	margin-right: 50px;

}